<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <location path="." inheritInChildApplications="false">
        <appSettings>
            <!-- Required settings -->
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <!-- Your Django path -->
            <add key="PYTHONPATH" value="C:\inetpub\wwwroot\socialmedia" />
            <!-- Your Django settings module -->
            <add key="DJANGO_SETTINGS_MODULE" value="socialmedia.settings" />
        </appSettings>

        <system.webServer>
            <handlers>
                <add name="socialmedia" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\SocialMedia\venv\Scripts\python.exe|C:\inetpub\wwwroot\SocialMedia\venv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
                <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
            </handlers>
            
            <!-- Static files configuration -->
            <staticContent>
                <mimeMap fileExtension=".css" mimeType="text/css" />
                <mimeMap fileExtension=".js" mimeType="application/javascript" />
                <mimeMap fileExtension=".png" mimeType="image/png" />
                <mimeMap fileExtension=".jpg" mimeType="image/jpeg" />
                <mimeMap fileExtension=".jpeg" mimeType="image/jpeg" />
                <mimeMap fileExtension=".gif" mimeType="image/gif" />
                <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            </staticContent>
        </system.webServer>
    </location>
    <system.web>
        <identity impersonate="true" />
    </system.web>
    <location path="" overrideMode="Deny">
        <system.web>
            <httpHandlers />
        </system.web>
    </location>

</configuration>
