{% extends "admin/base.html" %}
{% load static %}

{% block title %}{{ title }} | LoopedIn Admin{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static 'img/loopedin_admin_logo.svg' %}" alt="LoopedIn Logo" height="30" style="margin-right: 10px;">
        LoopedIn Administration
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
